body {
  background-image: url('./img/background.jpg');
}
.header {
  text-align: center;
  color: yellow;
}
.flexContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.flexRightContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.dataBox {
  color: white;
  background-color: black;
  padding: 2rem;
  width: 33%;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 2px;
}

.meowBtn {
  height: 20px;
  background-color: lightgrey;
  transition: all 0.5s;
}

.meowBtn:hover {
  background-color: magenta;
}
